[Unit]
Description=Provide HouseKeeping Information
Wants=beacon-copy.service 
Requires=beacon-startup.service 

[Service] 
EnvironmentFile=/etc/beacon.cfg 
Restart=always 
ExecStart=/bin/sh -c "exec ${BEACON_PATH}/beacon-hk" 
ExecReload=/bin/kill -USR1 $MAINPID

[Install] 
WantedBy=beacon.target 

